@page "/albums"
@using Core.Models
@using System.Net.Http.Headers
@using Newtonsoft.Json
@inject IHttpClientFactory ClientFactory

<h1>Call web API from a Blazor Server Razor component</h1>

@if (getAlbumsError)
{
    <p>Unable to get albums from spotify. Please try again later.</p>
}
else
{
    <p>Album Name is : @album.Name</p>
}

@code {
    private Album album = new();
    private bool getAlbumsError;
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://api.spotify.com/v1/albums/4aawyAB9vmqN3uQ7FjRGTy");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", "BQC4-JfCqkZO0P3p9wVqn3pI62LYyYL_XXRC-pvCeyYIftxpP-aDvFlpkvTf3hsFYp9a61f4qR2EY10DLrR9lPPsd9ELHF3xNPItvswib_Q90sPjZkAk0A71JIYQ9WbHafmVrBYsFB3b2DQw1Gnx");
        
        var client = ClientFactory.CreateClient();

        client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var responseStream = await response.Content.ReadAsStringAsync();
            album = JsonConvert.DeserializeObject<Album>(responseStream);
        }
        else
        {
            getAlbumsError = true;
        }

        shouldRender = true;
    }
}