@page "/albums/{Id}"
@using Core.Models
@using System.Net.Http.Headers
@using Newtonsoft.Json
@using like_disc.Core.Services
@inject ITokenService tokenservice;
@inject ISpotifyService<Album> spotifyService;
<p>
    Param: Testy
</p>

<h1>Call web API from a Blazor Server Razor component</h1>


    <p>Album Name is : @album.Name</p>


@code {
    [Parameter]
    public string Id { get; set; }

    Token token = new();
    Album album = new();

    protected override async Task OnInitializedAsync()
    {
        token = await tokenservice.GetToken();
        album = await spotifyService.Get("4aawyAB9vmqN3uQ7FjRGTy", token);

    }
}