@page "/albums/{param?}"
@using Core.Models
@using System.Net.Http.Headers
@using Newtonsoft.Json
@inject IHttpClientFactory ClientFactory

<p>
    Param: @Param
</p>

<h1>Call web API from a Blazor Server Razor component</h1>

@if (getAlbumsError)
{
    <p>Unable to get albums from spotify. Please try again later.</p>
}
else
{
    <p>Album Name is : @album.Albums.Name</p>
}

@code {

    [Parameter]
    public string? Param { get; set; }

    private Search album = new();
    private bool getAlbumsError;
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://api.spotify.com/v1/search?q=name:" + @Param + "&type=album");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", "BQBcScdpOhtif3wjDger0f6aYZbuGD74XJu7oQLvXdKA-oWC7Nyw90YHkpuhD1HXTrYPzbRXnYvgonGRKPLDbFCXlZbUCTBwcYy7l1xU9JiuW5exH37qrxrEJh8InD-tjlQsz7Z53-Bu8RTWMyjU");
        
        var client = ClientFactory.CreateClient();

        client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var responseStream = await response.Content.ReadAsStringAsync();
            album = JsonConvert.DeserializeObject<Search>(responseStream);
        }
        else
        {
            getAlbumsError = true;
        }

        shouldRender = true;
    }
}